{%- liquid
  if image_ratio == 'adapt'
    assign ratio = 100
  endif

  if card_content_inner
    assign card_content_classes = 'card__content--inner ta-left p-absolute bottom-0 left-0 zi-1'
    assign card_classes = 'color-inverse mask'
  else
    assign card_content_classes = 'card__content--outer'
  endif
-%}

<div class="product w-100 p-relative o-hidden {{ card_classes }}">
  <div class="product__media p-relative o-hidden card__media" style="--ratio:{{ ratio }}">
    {{ 'product-1' | placeholder_svg_tag: 'placeholder of-cover media' }}
  </div>
  <div class="card__content {{ card_content_classes }} wb-break-word">
    <div class="color--light fs-14 mb-4 {{ show_vendor | default: 'd-none' | replace: 'true', '' }}">
      <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
      <span>{{ 'sections.feature_collection.product_vendor.title' | t }}</span>
    </div>
    <h3 class="card__heading hdg-6 mb-8 m-zero">
      <a href="#">{{ 'sections.feature_collection.product.title' | t }}</a>
    </h3>
    <span class="price d-block mb-12">
      <span class="price__regular d-none ">
        <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
        <span class="price-item price-item--regular price-item--last d-inline-block">$50</span>
      </span>
      <span class="price__sale d-flex middle-xs">
        <span class="visually-hidden">{{ 'products.product.price.sale_price' | t }}</span>
        <span class="price-item price-item--sale price-item--last d-inline-block mr-8">$50</span>
        <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
        <span class="d-inline-block">
          <s class="price-item price-item--regular fs-14">$100</s>
        </span>
      </span>
    </span>
  </div>
</div>
