{% liquid
  assign image_width = '350, 450, 550, 750, 950, 1024'
  assign sizes = "(min-width: 361px) calc(100vw/2), calc(100vw/3)"
  assign article_placeholder = 'image' | placeholder_svg_tag: 'js-image-lazy placeholder media of-cover'
  assign article_image = article_placeholder
  assign article_image = article.image.src | image_url: width: article.image.width | image_tag: widths: image_width, sizes: sizes, alt: article.title, class: 'js-image-lazy media of-cover w-100'
  assign show_blog_tag = show_blog_tag | default: false

%}
<div class="card w-100">
  {% if show_image %}
    <a href="{{ article.url }}" class="d-block card__media">
      {% render 'image',
        ratio: image_ratio,
        image_item: article_image,
        src: article.image.src,
      %}
    </a>
  {% endif %}
  <div class="card__content card__content--outer">
    {% if show_blog_tag %}
      <ul class="article-tags ls-none d-flex mb-16 fw-wrap">
        {% for tag in article.tags %}
          <li>
            {{ tag | link_to_tag: tag | replace: '<a', '<a class="tag"' }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <h3 class="mb-12 hdg-5">
      <a href="{{ article.url }}">{{ article.title }}</a>
    </h3>
    <div class="hide-empty mb-12 fs-sm color--light">
      <span class="{{ show_author | default: 'd-none' }}">{{ 'sections.featured_blog.article.by_author' | t: author: article.author }}</span>
      {% if show_author and show_published_date %}
        {{ 'sections.featured_blog.article.in_date' | t }}
      {% endif %}
        <span class="{{ show_published_date | default: 'd-none' }}">{{ article.published_at | date: format: 'abbreviated_date' }}</span>
    </div>
    {% if show_excerpt %}
      {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
        <p class="card__excerpt o-hidden mb-12">
          {%- if article.excerpt.size > 0 -%}
            {{ article.excerpt | strip_html | truncatewords: 30 }}
          {%- else -%}
            {{ article.content | strip_html | truncatewords: 30 }}
          {%- endif -%}
        </p>
      {%- endif -%}
    {%- endif -%}
    {% if show_read_more %}
      <a href="{{ article.url }}" class="button button--small button--link">{{ 'blogs.article.read_more' | t }}</a>
    {% endif %}
  </div>
</div>
