{% comment %}
	Accepts:
    - paginate: {Object} Paginate object.
    - anchor: {String} custom ID.

Example usage:
	{% render 'pagination',
		paginate: paginate,
		anchor: '#yourID'
	%}
{% endcomment %}

{%- if paginate.parts.size > 0 -%}
<div class="d-flex fw-wrap center-xs button-group" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
	{%- if paginate.previous -%}
		<a href="{{ paginate.previous.url }}{{ anchor }}" rel="prev" class="button button--icon button--large button--secondary" aria-label="{{ 'general.pagination.previous' | t }}">
			{%- render 'icon-arrow-left' -%}
		</a>
	{%- else -%}
		<span class="button button--icon button--large button--secondary" disabled>
			{%- render 'icon-arrow-left' -%}
		</span>
	{%- endif -%}
	{%- for part in paginate.parts -%}
		{%- if part.is_link -%}
		  <a href="{{ part.url }}{{ anchor }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}" class="button button--icon button--secondary button--large fw-700">{{ part.title }}</a>
		{%- else -%}
      {%- if part.title == paginate.current_page -%}
        <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}" class="button button--icon button--large button--primary button--unlink fw-700">{{ part.title }}</span>
      {%- else -%}
        <span class="button button--icon button--large fw-700 c-default">{{ part.title }}</span>
      {%- endif -%}
		{%- endif -%}
	{%- endfor -%}

	{%- if paginate.next -%}
		<a href="{{ paginate.next.url }}{{ anchor }}" rel="next" class="button button--icon button--large button--secondary" aria-label="{{ 'general.pagination.next' | t }}">
			{%- render 'icon-arrow-right' -%}
		</a>
	{%- else -%}
		<span class="button button--icon button--large button--secondary" disabled>
    {%- render 'icon-arrow-right' -%}
		</span>
	{%- endif -%}
</div>
{%- endif -%}