
{%-liquid
assign image_element = place_holder
assign image_id = "productSlideshowThumb-" | append: section.id | append: "-" | append: thumb_index
assign image_element = media | image_url: width: 130 | image_tag: alt: media.alt, class: 'js-image-lazy media of-cover', id: image_id
-%}
<sht-vertical-carousel-item role="listitem" class="product-slideshow__thumb product-slideshow__thumb--{{ media.media_type }} js-product-slideshow-thumb js-carousel-item vertical-carousel__item p-relative scrollable-aln-start ta-center d-flex middle-xs fg-1 fs-0{% if is_first_media %} d-block{% endif %}" data-media-target-id="{{ section.id }}-{{ media.id }}">
  <button aria-describedby="{{ image_id }}" aria-label="{{ 'accessibility.open_media_gallery' | t: index: thumb_index }}" aria-controls="productGalleryCarousel-{{ section.id }}" class="js-slideshow-button-thumb button-slideshow-thumb p-relative p-zero button--plain" data-target="{{ section.id }}-{{ media.id }}">
    {%- unless media.media_type == 'image' -%}
    {% case media.media_type %}
      {% when 'model' %}
        <span class="slideshow__thumb-icon p-absolute d-flex middle-xs center-xs">
          {% render 'icon-3d-model' size: 16 %}
        </span>
        {% when 'external_video' %}
        <span class="slideshow__thumb-icon p-absolute d-flex middle-xs center-xs">
          {% render 'icon-play' size: 16 %}
        </span>
        {% when 'video' %}
        <span class="slideshow__thumb-icon p-absolute d-flex middle-xs center-xs">
          {% render 'icon-play' size: 16 %}
        </span>
      {% endcase %}
    {%- endunless -%}
    {% render 'image',
      image_item: image_element,
      ratio: '1/1',
    %}
  </button>
</sht-vertical-carousel-item>