{%- liquid
  assign placeholder = 'image' | placeholder_svg_tag: 'placeholder media of-cover w-100 h-100'
  assign media = placeholder
  assign media_alt = section.settings.image.alt | default: section.settings.image.image | split: '/' | last
  assign media = section.settings.image | image_url: width: section.settings.image.width, height: section.settings.image.height | image_tag: widths: '350, 450, 550, 750, 950, 1024, 1200, 1400, 1600, 1800, 2000', sizes: "(min-width: 361px) calc(100vw/2), calc(100vw/3)", alt: media_alt, class: 'js-image-lazy media of-cover w-100 h-100'
  assign map_address = section.settings.map_address
  assign map_media_width = '--w-xs:12'
-%}

<div class="section" data-ui-component="Map Section">
  <div class="ctnr">
    <div class="rw row-gap-48 row-gap-64-sm">
      {% if section.blocks.size != 0 %}
        {% assign map_media_width = '--w-xs:12;--w-md:7' %}
        {%- for block in section.blocks -%}
          <div class="clm" style="--w-xs:12;--w-md:5" {{ section.shopify_attributes }}>
            {% render 'section-header',
              classes: 'p-sides',
              subheading: block.settings.subheading,
              heading: block.settings.heading,
              description: block.settings.description,
              section: section
            %}
            {% unless map_address == blank or block.settings.button_text == blank %}
              <div class="s-footer-sm p-sides">
                <a href="{{ map_address | url_encode | prepend: 'https://www.google.com/maps/place/' }}" target="_blank" class="button button--primary button--small">
                  {{- block.settings.button_text | escape -}}
                </a>
              </div>
            {% endunless %}
          </div>
        {%- endfor -%}
      {% endif %}
      <div class="clm" style="{{ map_media_width }}">
        <div class="map-media{% if section.blocks.size != 0 %} mr-minus ml-minus ml-md-0{% endif %}" style="--h-xs:35vh;--h-lg:70vh">
          {% if section.settings.image != blank or section.settings.image == blank and map_address == blank %}
            <div class="h-100">
              {% render 'image',
                image_item: media,
                src: section.settings.image.src,
                image_wrap_classes: 'h-100',
                image_classes: 'h-100',
              %}
            </div>
          {% else %}
            <sht-map data-zoom="14" data-type="roadmap" data-location="{{ map_address }}">
              <iframe defer class="js-map-iframe w-100 h-100 d-block" loading="lazy" scrolling="no" title="Google Map" src="" srcdoc="loading..."></iframe>
            </sht-map>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{%-liquid
   assign files = "map.js" | split: ', '
   render 'js-loader', files: files
-%}

{% schema %}
{
  "name": "t:sections.map.name",
  "settings": [
    {
      "type": "text",
      "id": "map_address",
      "label": "t:sections.map.settings.map_address.label",
      "info": "t:sections.map.settings.map_address.info",
      "default": "Brooklyn, NY, USA"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.map.settings.custom_map_image.label",
      "info": "t:sections.map.settings.custom_map_image.info"
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "t:general.settings.headers.header_content.content",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:general.settings.headers.header_text.content"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "t:general.settings.subheading.label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:general.settings.heading.label",
          "default": "Visit us"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:general.settings.description.label",
          "default": "<p> Brooklyn, NY, USA <br><br> Mon-Fri, 8:30am - 10:30pm <br> Saturday, 8:30am - 10:30pm <br> Sunday, 8:30am - 10:30pm </p>"
        },
        {
          "type": "header",
          "content": "t:general.settings.headers.header_button.content"
        },
        {
          "type": "paragraph",
          "content": "t:general.settings.headers.header_direction_button.content"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:general.settings.label.label",
          "default": "Get direction"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.map.name",
      "blocks": [
        {
          "type": "content"
        }
      ]
    }
  ]
}
{% endschema %}